<div class="container">
    <ul class="list-group-info">
        {{#each courses}}
        <li>
            <span>{{this.name}}</span>
            <a href="/admin/courses/delete/{{this._id}}" class="">Delete</a>
            <a href="/admin/courses/course/{{this._id}}">View</a>
        </li>
        {{/each}}
    </ul>
</div>

<a href="/admin/courses/create" class="fab">+ Add Course</a>