<div class="container center-text">
    <div class="title">
        <h1>Hello {{user.name}} {{user.surname}}</h1>
    </div>
</div>

<div class="grid">
    <div class="row">
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/news.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Create a News Article</h3>
                    <div class="center-text">
                        <a href="/admin/news" class="button primary">GO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/courses.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Add and Manage Courses</h3>
                    <div class="center-text">
                        <a href="/admin/courses" class="button primary">GO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/logout.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <div class="center-text">
                        <a href="/logout" class="button alert">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>