<div class="container">
    <form action="/admin/events" method="post" class="form" enctype="multipart/form-data">
        <div class="control">
            <input type="text" name="title" required placeholder="Event Title">
        </div>
        <div class="control">
            <input type="text" name="orgainizer" placeholder="Event Orgainizer">
        </div>
        <div class="control">
            <input type="date" name="date" placeholder="Event Date">
        </div>
        <div class="control center-text">
            <button class="button info small">Save</button>
        </div>
    </form>
</div>