@import 'reset';
@import 'helpers';
@import 'components/buttons';
@import 'components/navbar';
@import 'components/form';
@import 'components/grid';
@import 'components/footer';
@import 'components/paginator';
@import 'components/content';
@import 'components/pages';
@import 'components/cards';
@import 'components/lists';
@import 'components/events';

.login {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        width: 500px;
        height: auto;
        padding: 15px;
        border: solid 1px #dddddd;
    }
}

.home-title {
    width: 100%;
    height: auto;
    background-image: url('../images/home.jpeg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 15%;

    @media screen and (max-width: 700px) {
        padding: 0;
    }

    .card {
        width: 100%;
        height: 100%;
        padding: 50px 60px;
        background-color: $background;
        text-align: center;

        @media screen and (max-width: 700px) {
            background-color: transparentize($background, 0.4);
        }

        @media screen and (max-width: 450px) {
            padding: 30px;
        }

        h1 {
            font-size: 5rem;

            @media screen and (max-width: 450px) {
                font-size: 3rem;
            }
        }

        span {
            font-size: 25px;
        }
    }
}

.about-us {
    width: 100%;
    height: auto;
    padding: 45px 0;
    background-color: $backgroundDark;
    border-top: solid 5px $accent;
    color: $background;
    p {
        padding: 15px 0;
        font-size: 20px;
    }
}

.home-articles {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: $background;

    .article-item {
        position: relative;
        width: 100%;
        height: 400px;
        background-position: center center;
        background-size: cover;
        display: block;
        text-decoration: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
        overflow: hidden;
        margin: 20px 0;

        &:hover {
            .title {
                transform: translate(0, 0);
            }
        }

        .title {
            position: absolute;
            bottom: 20px;
            right: 0;
            width: auto;
            height: auto;
            padding: 5px 15px;
            background-color: $background;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
            transform: translate(100%, 200%);

            span {
                font-size: 2rem;
            }
        }
    }
}

.home-quote {
    width: 100%;
    height: auto;
    padding: 10% 15%;
    // background-image: url('../images/quote_blur.jpeg');
    // background-size: cover;
    background-color: $backgroundDark;

    @media screen and (max-width: 700px) {
        padding: 30px;
    }

    .card {
        width: 100%;
        height: 400px;
        background-color: $background;

        @media screen and (max-width: 700px) {
            height: auto;
        }

        .image {
            width: 50%;
            height: 100%;
            background-image: url('../images/quote.jpeg');
            background-size: cover;
            float: left;

            @media screen and (max-width: 700px) {
                width: 100%;
                height: 300px;
            }
        }

        .quote {
            width: 50%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            
            @media screen and (max-width: 700px) {
                width: 100%;
                height: auto;
                padding: 10px;
            }

            .content {
                width: 80%;
                height: auto;

                span {
                    font-size: 2.5rem;
                    display: block;
                    margin-bottom: 10px;

                    @media screen and (max-width: 700px) {
                        font-size: 1.7rem;
                    }
                }
            }
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
}

.course {
    padding: 40px 0;

    h2 {
        font-size: 1.8rem;
    }
}

.article {
    padding: 40px 0;

    h1 {
        display: inline-block;

        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 4px;
            background-color: $accent;
            margin: 15px 0;
        }
    }

    p {
        font-size: 22px;
        text-align: justify;
        line-height: 1.6;
    }
}

.article-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: static;
}

.nothing_found {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-weight: 700;
        color: $blackHaze;

        &::before {
            content: '- ';
        }

        &::after {
            content: ' -';
        }
    }
}

.copywrite {
    padding: 20px;

    ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}
