@import 'reset';
@import 'helpers';
@import 'components/buttons';
@import 'components/navbar';
@import 'components/form';
@import 'components/editor';
@import 'components/grid';
@import 'components/footer';
@import 'components/paginator';

.login {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        width: 500px;
        height: auto;
        padding: 15px;
        border: solid 1px #dddddd;
    }
}

.about-page {
    width: 100%;
    height: auto;
    background-color: $background;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;

    .title {
        width: 100%;
        height: auto;
        padding: 40px;
        text-align: center;
        h1 {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                margin: 15px auto;
                height: 4px;
                width: 40%;
                background-color: $accent;
            }
        }
    }

    h1 {
        background-color: $accent;
        padding: 30px;
        color: $main;
        margin: 0px;
        border-radius: 5px;
    }

    h2 {
        display: inline-block;

        &::after {
            content: '';
            display: block;
            width: 50%;
            height: 4px;
            background-color: $accent;
            margin: 15px 0;
        }
    }

    h3 {
        width: 100%;
        height: 40px;
        background-color: $accent;
        padding: 30px;
        color: $main;
        font-weight: 700;
        border-radius: 5px;
    }

    .p1 {
        width: 100%;
        height: auto;
        background-image: url('../images/aboutbackgr.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .p2 {
        width: 100%;
        height: auto;
        background-image: url('../images/books.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .link {
        width: 100%;
        height: 40px;
        color: $backgroundDark;
        padding: 30px;
        font-weight: 1200;
        border-radius: 5px;
    }
}

.omnibus-page {
    width: 100%;
    height: auto;
    background-color: $background;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;

    .title {
        width: 100%;
        height: auto;
        padding: 40px;
        text-align: center;
        h1 {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                margin: 15px auto;
                height: 4px;
                width: 40%;
                background-color: $accent;
            }
        }
    }

    h1 {
        background-color: $accent;
        padding: 30px;
        color: $main;
        margin: 0px;
        border-radius: 5px;
    }

    h2 {
        width: 100%;
        height: 80px;
        background-color: $main;
        padding: 30px;
        color: $accent;
        font-weight: 700;
        border-radius: 5px;
    }

    h3 {
        width: 100%;
        height: 40px;
        background-color: $accent;
        padding: 30px;
        color: $main;
        font-weight: 700;
        border-radius: 5px;
    }

    .p1 {
        width: 100%;
        height: auto;
        background-image: url('../images/aboutbackgr.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .p2 {
        width: 100%;
        height: auto;
        background-image: url('../images/books.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .link {
        width: 100%;
        height: 40px;
        color: $backgroundDark;
        padding: 30px;
        font-weight: 1200;
        border-radius: 5px;
    }
}

.resources-page {
    width: 100%;
    height: auto;
    background-color: $background;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;

    .title {
        width: 100%;
        height: auto;
        padding: 40px;
        text-align: center;
        h1 {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                margin: 15px auto;
                height: 4px;
                width: 40%;
                background-color: $accent;
            }
        }
    }

    h1 {
        background-color: $accent;
        padding: 30px;
        color: $main;
        margin: 0px;
        border-radius: 5px;
    }

    h2 {
        width: 100%;
        height: 80px;
        background-color: $main;
        padding: 30px;
        color: $accent;
        font-weight: 700;
        border-radius: 5px;
    }

    .p1 {
        width: 100%;
        height: auto;
        background-image: url('../images/aboutbackgr.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .p2 {
        width: 100%;
        height: auto;
        background-image: url('../images/books.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }
}

.teachers-page {
    width: 100%;
    height: auto;
    background-color: $background;
    padding: 30px;
    padding-right: 60px;
    padding-left: 60px;

    .title {
        width: 100%;
        height: auto;
        padding: 40px;
        text-align: center;
        h1 {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            display: inline-block;
            &::after {
                content: '';
                display: block;
                margin: 15px auto;
                height: 4px;
                width: 40%;
                background-color: $accent;
            }
        }
    }

    h1 {
        background-color: $accent;
        padding: 30px;
        color: $main;
        margin: 0px;
        border-radius: 5px;
    }

    h2 {
        width: 100%;
        height: 80px;
        background-color: $main;
        padding: 30px;
        color: $accent;
        font-weight: 700;
        border-radius: 5px;
    }

    h3 {
        width: 100%;
        height: 60px;
        background-color: $main;
        padding: 30px;
        color: $accent;
        font-weight: 700;
        border-radius: 5px;
    }

    .p1 {
        width: 100%;
        height: auto;
        padding: 30px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .p2 {
        width: 100%;
        height: auto;
        background-image: url('../images/books.jpeg');
        background-size: cover;
        padding: 30px;
        padding-right: 700px;
        padding-left: 60px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        margin-top: 30;
        margin-bottom: 30;
    }

    .image {
        border-radius: 100%;
        padding: 20px;
    }
}

.home-title {
    width: 100%;
    height: auto;
    background-image: url('../images/home.jpeg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 15%;

    .card {
        width: 100%;
        height: 100%;
        padding: 50px 60px;
        background-color: $background;
        text-align: center;

        h1 {
            font-size: 5rem;
        }
    }
}

.about-us {
    width: 100%;
    height: auto;
    padding: 45px 0;
    background-color: $backgroundDark;
    border-top: solid 5px $accent;
    color: $background;
    p {
        padding: 15px 0;
        font-size: 20px;
    }
}

.home-articles {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background-color: $background;

    .article-item {
        position: relative;
        width: 100%;
        height: 400px;
        background-position: center center;
        background-size: cover;
        display: block;
        text-decoration: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
        overflow: hidden;
        margin: 20px 0;

        &:hover {
            .title {
                transform: translate(0, 0);
            }
        }

        .title {
            position: absolute;
            bottom: 20px;
            right: 0;
            width: auto;
            height: auto;
            padding: 5px 15px;
            background-color: $background;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
            transform: translate(100%, 200%);

            h2 {
                font-size: 2rem;
            }
        }
    }
}

.home-quote {
    width: 100%;
    height: auto;
    padding: 10% 15%;
    background-color: $accent;

    .card {
        width: 100%;
        height: 400px;
        background-color: $background;

        .image {
            width: 50%;
            height: 100%;
            background-image: url('../images/quote.jpeg');
            background-size: cover;
            float: left;
        }

        .quote {
            width: 50%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                width: 80%;
                height: auto;

                span {
                    font-size: 2.5rem;
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: $backgroundDark;

    a {
        color: #ffffff;
    }
}
