<div class="login">
    <form action="/login" method="POST" class="form" autocomplete="off">
        <div class="center-text">
            <h1><i class="material-icons" style="font-size: 50px; color: #247BA0;">fingerprint</i></h1>
            <h1>login</h1>
        </div>
        <div class="control">
            <input type="text" name="username" autocomplete="off" placeholder="username">
        </div>
        <div class="control">
            <input type="password" name="password" autocomplete="off" placeholder="password">
        </div>
        <div class="control center-text">
            <button class="button small info">submit</button>
        </div>
    </form>
</div>