<div class="login">
    <form action="/signup" class="form" method="post">
        <div class="center-text">
            <h1>
                <i class="material-icons" style="font-size: 50px; color: #247BA0;">account_circle</i>
            </h1>
            <h1>Make an Account</h1>
        </div>
        <div class="control">
            <input type="text" name="username" placeholder="username" required="true">
        </div>
        <div class="control">
            <input type="text" name="name" placeholder="name" required="true">
        </div>
        <div class="control">
            <input type="text" name="surname" placeholder="surname" required="true">
        </div>
        <div class="control">
            <input type="email" name="email" placeholder="email" required="true">
        </div>
        <div class="control">
            <input type="password" name="password" placeholder="password" required="true">
        </div>
        <div class="control center-text">
            <button type="submit" class="button info small">signup</button>
        </div>
    </form>
</div>