<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVC App</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="sidebar center-text">
        <h1>{{user.name}} {{user.surname}}</h1>
        <h3>{{user.email}}</h3>
        <div class="nav">
            <a href="/admin">Dashboard</a>
            <a href="/admin/news">News Updates</a>
            <a href="/admin/courses">Courses</a>
        </div>
    </div>

    <div class="sidebar-btn">
        <i class="material-icons">arrow_back</i>
    </div>
    {{!All pages are rendered in this tag}} {{{body}}} {{!DO NOT REMOVE}}

    <script src="/js/index.js" type="text/javascript"></script>
</body>

</html>

{{!-- style="display: none;" --}}