$mistyWhite: #ffffff;
$blackHaze: #333333;
$darkLiver: #50514f;
$lightMossGreen: #bed3a9;

$background: $mistyWhite;
$backgroundDark: $blackHaze;
$main: $darkLiver;
$accent: $lightMossGreen;

$themeColors: (
    primary: $main,
    accent: $accent,
    alert: #ff6347,
    info: #247BA0,
    warning: #eea916,
    success: #24a86b
);
