<div class="about-page">
   
   <br>

    <h1>
        {{title}}
    </h1>
    
    <br>

    <h2>
        Why Christian Education?
    </h2>

    <p class="p1">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos explicabo alias fugit a aspernatur possimus error similique neque ipsa. Repellat aperiam voluptates optio asperiores quis sapiente repellendus? Fuga eaque dicta earum vitae eum in, harum aut non rem repudiandae possimus, labore distinctio recusandae perspiciatis esse minima consectetur molestias asperiores corporis neque. Nulla, quo? Eos omnis distinctio quis amet doloremque vitae molestiae assumenda voluptatem et. Saepe perferendis, dolore nobis quibusdam non praesentium nostrum vel minima veniam aspernatur explicabo, quia maxime sequi cupiditate nisi, culpa fugiat reprehenderit dolorum? Quibusdam, voluptatem? Quas porro aut facere, dolorem eligendi optio officia repellat adipisci nihil tempore esse rem odio recusandae voluptates. Voluptas sint culpa facere ipsam eos nisi, perferendis quidem, velit pariatur consequatur nesciunt porro architecto voluptatum esse quaerat harum. Asperiores consequuntur, recusandae dolor laudantium excepturi assumenda corporis, impedit nam alias facilis debitis rem vitae esse atque, corrupti dolorum dolores ad hic omnis dolore! Rerum, distinctio.    
    </p>

    <h2>
        Why Classical Education?
    </h2>

    <p class="p2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos explicabo alias fugit a aspernatur possimus error similique neque ipsa. Repellat aperiam voluptates optio asperiores quis sapiente repellendus? Fuga eaque dicta earum vitae eum in, harum aut non rem repudiandae possimus, labore distinctio recusandae perspiciatis esse minima consectetur molestias asperiores corporis neque. Nulla, quo? Eos omnis distinctio quis amet doloremque vitae molestiae assumenda voluptatem et. Saepe perferendis, dolore nobis quibusdam non praesentium nostrum vel minima veniam aspernatur explicabo, quia maxime sequi cupiditate nisi, culpa fugiat reprehenderit dolorum? Quibusdam, voluptatem? Quas porro aut facere, dolorem eligendi optio officia repellat adipisci nihil tempore esse rem odio recusandae voluptates. Voluptas sint culpa facere ipsam eos nisi, perferendis quidem, velit pariatur consequatur nesciunt porro architecto voluptatum esse quaerat harum. Asperiores consequuntur, recusandae dolor laudantium excepturi assumenda corporis, impedit nam alias facilis debitis rem vitae esse atque, corrupti dolorum dolores ad hic omnis dolore! Rerum, distinctio.    
    </p>
</div>