<div class="container">
    <h1>Test message intercepted:</h1>
    <hr>
    <h3>{{email.title}}</h3>
        <h3>{{email.email}}</h3>
        <h5>{{email.timestamp}}</h5>
        <br>
        <p>{{email.message}}</p>
</div>
<div class="container">
    <a href="/contact" class="button alert">Return</a>
</div>