{{!-- Main Wrapper --}}
<div class="container">

    {{!-- The outer container for the list --}}
    <ul class="event-list">

        {{!-- List Items --}}
        <li class="item">
            <div class="title">Title</div>
            <div class="teacher">Teacher's/Person in charge's Name</div>
            <div class="date">Date of Event</div>
        </li>

    </ul>
    
</div>