{{!-- Main Wrapper --}}
<div class="container">

    {{!-- The outer container for the list --}}
    <ul class="event-list">

        {{!-- List Items --}}
        {{#each events}}
        <li class="item">
            <div class="title">{{this.title}}</div>
            <div class="teacher">{{this.person}}</div>
            <div class="date">{{this.date}}</div>
        </li>
        {{/each}}

    </ul>
    
</div>