<div class="block">
    <h1>
        {{title}}
    </h1>
    <p>
        This is your home route
    </p>
</div>
<div class="container padded center-text">
    <button class="button primary">Button Primary</button>
    <button class="button accent">Button Accent</button>
</div>