<div class="home-title">
    <div class="card">
        <span>Catchy Motto Goes Here</span>
        <h1>
            Welcome to Grace Classical Christian Co-op
        </h1>
    </div>
</div>
<div class="about-us">
    <div class="container center-text">

        <h1>About Us</h1>
        <h4>Sola Scriptura, Sola Fide, Sola Gratia, Solus Christus, Soli Deo Gloria</h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur accusantium, temporibus commodi nihil quaerat voluptatem
            officiis. Tenetur ducimus, sint assumenda quae, expedita ratione debitis commodi consectetur aliquid ab beatae
            suscipit officia error cupiditate temporibus doloribus, totam pariatur ipsa. Minima voluptatibus optio voluptatum
            exercitationem adipisci, dolorem voluptates! Pariatur adipisci voluptatem aperiam consequatur dicta alias commodi
            necessitatibus animi quis fugit quia neque veritatis earum nisi natus cupiditate esse dolorum accusantium vel,
            magni voluptatibus velit beatae!
        </p>
        <a href="/about" class="button small lined">Read More</a>

    </div>
</div>

<div class="home-articles">
    <h1 class="center-text">Latest News</h1>
    <br>
    {{#each articles}}
    <div class="container">
        <a href="/news/read/{{this._id}}" class="article-item" style="background-image:url('{{this.path}}')">
            <div class="title">
                <span>{{this.title}}</span>
            </div>
        </a>
    </div>
    {{/each}}
    <br>
    <div class="container padded center-text">
        <a href="/news" class="button primary huge">Read More</a>
    </div>
</div>

<div class="home-quote">
    <div class="card">
        <div class="image"></div>
        <div class="quote">
            <div class="content">
                <span>“Since they hated knowledge and did not choose to fear the LORD.”</span>
                <h4>- Proverbs 1:29</h4>
            </div>
        </div>
    </div>
</div>