<div class="pager">
    <a href="/news" class="last">
        <i class="material-icons">arrow_back</i>
    </a>
    <a href="/news" class="next">
        <i class="material-icons">arrow_forward</i>
    </a>
</div>

<div class="home-articles">
    <div class="container">
        <a href="#" class="article-item" style="background-image:url('/images/art_1.jpeg')">
            <div class="title">
                <h2>Test Articles</h2>
            </div>
        </a>
    </div>
    <div class="container">
        <a href="#" class="article-item" style="background-image:url('/images/art_2.jpeg')">
            <div class="title">
                <h2>Test Articles</h2>
            </div>
        </a>
    </div>
</div>

<div class="pager">
    <a href="/news" class="last">
        <i class="material-icons">arrow_back</i>
    </a>
    <a href="/news" class="next">
        <i class="material-icons">arrow_forward</i>
    </a>
</div>