<div class="omnibus-page">
    <div class="title">
        <h1>
            {{title}}
        </h1>
    </div>
    
    <br>

    <h2>
        OmniLinks
    </h2>

    <br>

    <p>
        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_I" target="_blank">
        Omnibus I
        </a>
        <br>

        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_II" target="_blank">
        Omnibus II
        </a>
        <br>

        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_III" target="_blank">
        Omnibus III
        </a>
        <br>

        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_IV" target="_blank">
        Omnibus IV
        </a>
        <br>

        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_V" target="_blank">
        Omnibus V
        </a>
        <br>
        
        <a href="http://resource2.veritaspress.com/omnilinks/default.html#Omnibus_VI" target="_blank">
        Omnibus VI
        </a>
        <br>
    </p>

</div>