<div class="resources-page">
   
   <br>

    <h1>
        {{title}}
    </h1>
    
    <br>

    <h2>
        Statement of Faith
    </h2>

    <br>

    <h2>
        Commitment Form
    </h2>

    <br>

    <h2>
        Peacemaker's Pledge
    </h2>

    <br>

    <h2>
        Course Descriptions
    </h2>
    <br>
</div>