<div class="page">
    <div class="title">
        <h1>
            {{title}}
        </h1>
    </div>

    <div class="row center-text">
        <div class="col-1-of-4"><a href="/downloads/statementofFaith.txt" download="Statement_of_Faith.rtf" class="button info">Statement of Faith</a></div>
        <div class="col-1-of-4"><a href="/downloads/commitment.txt" download="Commitment_Form.rtf" class="button info">Commitment Form</a></div>
        <div class="col-1-of-4"><a href="/downloads/peacemaker.txt" download="Peacemakers_Pledge.rtf" class="button info">Peacemaker's Pledge</a></div>
        <div class="col-1-of-4"><a href="/downloads/courses.txt" download="Course_Descriptions.rtf" class="button info">Course Descriptions</a></div>
    </div>
</div>