<div class="page">
    <div class="title">
        <h1>
            {{title}}
        </h1>
    </div>  
</div>

<div class="container">
    <div class="row">
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/statement.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Statement of Faith</h3>
                    <div class="center-text">
                        <a href="/downloads/statementofFaith.txt" download="Statement_of_Faith.rtf" class="button primary small">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/commitment.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Commitment Form</h3>
                    <div class="center-text">
                        <a href="/downloads/commitment.txt" download="Commitment_Form.rtf" class="button primary small">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/peace.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Peacemaker's Pledge</h3>
                    <div class="center-text">
                        <a href="/downloads/peacemaker.txt" download="Peacemakers_Pledge.rtf" class="button primary small">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="action-card">
                <div class="title-image">
                    <div class="card-image">
                        <img src="/images/course.jpeg" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3 class="center-text">Course Descriptions</h3>
                    <div class="center-text">
                        <a href="/downloads/courses.txt" download="Course_Descriptions.rtf" class="button primary small">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>