<div class="page">
    <div class="title">
        <h1>
            {{title}}
        </h1>
    </div>

    <div class="teacher-card">
        <div class="avatar">
            <div class="avatar-image">
                <img src="/images/teacher_two.jpeg">
            </div>
        </div>

        <div class="content">
            <h2>
                Jeff Gage
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi provident veniam asperiores accusantium harum enim, quos
                consequatur nesciunt delectus, veritatis perspiciatis perferendis quaerat nulla. Aliquid facilis, repudiandae
                molestias mollitia voluptatibus aut, ullam eius maxime modi voluptates excepturi assumenda dignissimos molestiae
                est odit ut corporis impedit laudantium omnis sequi accusantium quo. Aliquid accusamus cumque minima eveniet
                itaque molestiae aut nostrum ratione et modi suscipit ducimus quam tempora illo ut, quaerat repellat eum
                eos quo dignissimos, sed sit doloremque id exercitationem! Sit nam adipisci eaque aspernatur sequi quos.
                Omnis eius ratione recusandae mollitia.
            </p>
        </div>
    </div>

    <div class="teacher-card right-align">
        <div class="avatar">
            <div class="avatar-image">
                <img src="/images/teacher_three.jpeg">
            </div>
        </div>

        <div class="content">
            <h2>
                John Doe
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi provident veniam asperiores accusantium harum enim, quos
                consequatur nesciunt delectus, veritatis perspiciatis perferendis quaerat nulla. Aliquid facilis, repudiandae
                molestias mollitia voluptatibus aut, ullam eius maxime modi voluptates excepturi assumenda dignissimos molestiae
                est odit ut corporis impedit laudantium omnis sequi accusantium quo. Aliquid accusamus cumque minima eveniet
                itaque molestiae aut nostrum ratione et modi suscipit ducimus quam tempora illo ut, quaerat repellat eum
                eos quo dignissimos, sed sit doloremque id exercitationem! Sit nam adipisci eaque aspernatur sequi quos.
                Omnis eius ratione recusandae mollitia.
            </p>
        </div>
    </div>

    <div class="teacher-card">
        <div class="avatar">
            <div class="avatar-image">
                <img src="/images/teacher_one.jpeg">
            </div>
        </div>

        <div class="content">
            <h2>
                Robert Williams
            </h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi provident veniam asperiores accusantium harum enim, quos
                consequatur nesciunt delectus, veritatis perspiciatis perferendis quaerat nulla. Aliquid facilis, repudiandae
                molestias mollitia voluptatibus aut, ullam eius maxime modi voluptates excepturi assumenda dignissimos molestiae
                est odit ut corporis impedit laudantium omnis sequi accusantium quo. Aliquid accusamus cumque minima eveniet
                itaque molestiae aut nostrum ratione et modi suscipit ducimus quam tempora illo ut, quaerat repellat eum
                eos quo dignissimos, sed sit doloremque id exercitationem! Sit nam adipisci eaque aspernatur sequi quos.
                Omnis eius ratione recusandae mollitia.
            </p>
        </div>
    </div>

</div>