<div class="teachers-page">
   
   <br>

    <h1>
        {{title}}
    </h1>
    
    <br>

    <h2>
        Jeff Gage
    </h2>

    <p class="p1">
        <img class="image" src="/images/Evan.jpeg" style="display:block; float:left; width:300px; height:auto;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, laborum. Quod in nam sequi, quis enim rem eum placeat repudiandae similique, delectus sed doloremque tempora? Distinctio dolores a quod commodi dicta laborum? Placeat error nesciunt facilis molestiae tenetur provident temporibus, at vitae eius illum ipsum, deserunt nam harum. Et voluptas, sapiente nemo, assumenda amet quam unde earum omnis aut non voluptatum cumque quibusdam atque illo quaerat laudantium qui! Quasi at rerum repudiandae laboriosam officia facilis? Totam ratione libero doloribus, nisi eius ad laboriosam quod nam repudiandae, fugiat accusamus odit atque expedita ducimus tenetur a quos magnam, rerum laborum obcaecati quia.
    </p>

    <br>

    <h2>
        Jeff Gage
    </h2>

    <p class="p1">
        <img class="image" src="/images/Evan.jpeg" style="display:block; float:left; width:300px; height:auto;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, laborum. Quod in nam sequi, quis enim rem eum placeat repudiandae similique, delectus sed doloremque tempora? Distinctio dolores a quod commodi dicta laborum? Placeat error nesciunt facilis molestiae tenetur provident temporibus, at vitae eius illum ipsum, deserunt nam harum. Et voluptas, sapiente nemo, assumenda amet quam unde earum omnis aut non voluptatum cumque quibusdam atque illo quaerat laudantium qui! Quasi at rerum repudiandae laboriosam officia facilis? Totam ratione libero doloribus, nisi eius ad laboriosam quod nam repudiandae, fugiat accusamus odit atque expedita ducimus tenetur a quos magnam, rerum laborum obcaecati quia.
    </p>

</div>