<div class="article-image" style="background-image: url('{{data.path}}')"></div>

<div class="container article">
    <h1>{{data.title}}</h1>
    <h3>by {{data.author}}</h3>
    <hr>
    <article>
        {{{data.body}}}
    </article>
</div>
