<div class="container">
    <form action="/admin/courses" method="post" class="form" enctype="multipart/form-data">
        <div class="control">
            <input type="text" name="name" required placeholder="Course Name">
        </div>
        <div class="control">
            <label for="from_grade">Starting Grade</label>
            <select name="from_grade">
                <option value="1" selected>Grade 1</option>
                <option value="2">Grade 2</option>
                <option value="3">Grade 3</option>
                <option value="4">Grade 4</option>
                <option value="5">Grade 5</option>
                <option value="6">Grade 6</option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
                <option value="9">Grade 9</option>
                <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12">Grade 12</option>
            </select>
        </div>
        <div class="control">
            <label for="to_grade">Ending Grade</label>
            <select name="to_grade">
                <option value="1">Grade 1</option>
                <option value="2">Grade 2</option>
                <option value="3">Grade 3</option>
                <option value="4">Grade 4</option>
                <option value="5">Grade 5</option>
                <option value="6">Grade 6</option>
                <option value="7">Grade 7</option>
                <option value="8">Grade 8</option>
                <option value="9">Grade 9</option>
                <option value="10">Grade 10</option>
                <option value="11">Grade 11</option>
                <option value="12" selected>Grade 12</option>
            </select>
        </div>
        <div class="control center-text">
            <button class="button info small">Next</button>
        </div>
    </form>
</div>