<div class="container">
    <form action="/admin/courses/{{course._id}}/add" method="post" class="form" enctype="multipart/form-data">
        <div class="control">
            <input type="text" name="name" required placeholder="Sub Course Name (eg. {{course.name}} 1)">
        </div>
        <div class="control">
            <input type="text" name="link" placeholder="Course link">
        </div>
        <div class="control">
            <textarea class="editor" name="description" required placeholder="Course description"></textarea>
        </div>
        <div class="control center-text">
            <button class="button info small">Save</button>
        </div>
    </form>
</div>