.teacher-card {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 50px 0;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75),
        0px 0px 20px -10px rgba(0, 0, 0, 0.75);

    &.right-align {
        .avatar {
            float: right;
        }
        .content {
            float: right;
        }
    }

    .avatar {
        width: 300px;
        min-height: 300px;
        float: left;
        position: relative;

        .avatar-image {
            position: absolute;
            left: 50%;
            top: -20px;
            transform: translateX(-50%);
            width: 85%;
            height: auto;
            overflow: hidden;

            @media screen and (max-width: 850px) {
                width: 200px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 50%;
            }
        }

        @media screen and (max-width: 850px) {
            width: 100%;
            min-height: 200px;
        }
    }

    .content {
        width: calc(100% - 300px);
        float: left;
        height: auto;
        padding: 20px;

        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.paragraph-card {
    display: block;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 50px;
    background-color: #ffffff;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.contact-card {
    display: block;
    width: 90%;
    height: auto;
    margin: 20px auto;
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75),
        0px 0px 20px -10px rgba(0, 0, 0, 0.75);

    .avatar {
        width: 100px;
        height: 100px;
        float: left;
        padding: 5px;

        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    .info {
        width: calc(100% - 100px);
        float: left;
        padding: 10px;

        h4 {
            display: inline-block;
            font-weight: 500;

            &::after {
                content: '';
                display: block;
                width: 70%;
                height: 2px;
                background-color: $accent;
                margin: 10px 0;
            }
        }

        span {
            display: block;
        }
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.info-card {
    display: block;
    width: 100%;
    height: auto;
    padding: 50px;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75),
        0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    margin: 30px 0;
    
    .heading {
        text-align: center;
        padding: 10px 0;
    }
}
