.images-slider {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: $background;
    margin: 50px 0;

    .img {
        width: calc(33.333333% - 20px);
        height: 300px;
        float: left;
        margin: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &:hover {
            img {
                transform: scale(1.6) rotate(12deg);
            }

            .title {
                transform: translateY(0);
            }
        }

        img {
            width: auto;
            height: 100%;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
        }

        .title {
            width: 100%;
            display: block;
            text-align: center;
            height: auto;
            padding: 0;
            font-size: 3.5rem;
            font-weight: 900;
            background-color: transparent;
            color: #ffffff;
            position: absolute;
            bottom: -17px;
            left: 0;
            z-index: 200;
            transform: translateY(100%);
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
        }
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
