.footer {
    background-color: $background;
    padding: 50px 0;
    color: #252525;

    h1 {
        font-size: 3rem;
        padding-bottom: 10px;
    }

    a {
        color: #252525;
        display: block;
        padding: 15px 0;
    }
}