.list-group {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        width: 100%;
        height: auto;

        a {
            display: block;
            padding: 20px;

            &:hover {
                background-color: #eeeeee;
            }
        }
    }
}

.list-group-info {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        width: 100%;
        height: auto;

        .col {
            width: 50%;
            height: 100%;
            float: left;
            padding: 15px;

            &.right {
                text-align: right;
            }

            a {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 90%;
                display: inline-block;
                padding: 5px 9px;
                border-radius: 5px;
                background-color: #dddddd;
            }
        }

        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }
}
