.image {
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: $background;
    img {
        display: block;
        width: 130px;
        height: auto;
        margin: auto;
    }
}

.navigation {
    width: 100%;
    height: 55px;
    border-bottom: solid 1px $accent;
    background-color: #ffffff;
    display: block;
    position: sticky;
    z-index: 400;
    top: 0;
    left: 0;

    .logo {
        text-decoration: none;
        height: 100%;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        padding: 0 20px;
        float: left;

        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
            padding: 0 10px;
        }
    }

    .nav {
        height: 100%;
        width: auto;
        float: right;
        padding: 0 20px;

        @media screen and (max-width: 1000px) {
            display: none;
        }

        a {
            text-decoration: none;
            height: 100%;
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            font-size: 15px;
            float: left;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) 150ms;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: #eeeeee;
                color: #252525;
            }
        }

        span {
            @extend a;

            &:hover {
                background-color: #eeeeee;
                color: #252525;

                .dropdown {
                    transform: scale(1);
                }
            }

            .dropdown {
                position: absolute;
                width: 200px;
                height: auto;
                top: 0;
                right: 0;
                background-color: #fff;
                z-index: 105;
                border-radius: 7px;
                -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
                overflow: hidden;
                transition: cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
                transform-origin: top right;
                transform: scale(0);

                a {
                    display: block;
                    width: 100%;
                    height: auto;
                    padding: 15px;
                    text-align: center;
                }
            }
        }
    }

    .drop-nav {
        height: 100%;
        width: auto;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        cursor: pointer;
        position: relative;
        z-index: 100;

        &.mobile {
            @media screen and (min-width: 1000px) {
                display: none;
            }
        }

        &:hover {
            .dropdown {
                transform: scale(1);
            }
        }

        .dropdown {
            display: inline-block;
            position: absolute;
            top: 3px;
            right: 3px;
            width: 200px;
            height: auto;
            background-color: #fff;
            z-index: 105;
            border-radius: 7px;
            -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
            overflow: hidden;
            transition: cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
            transform-origin: top right;
            transform: scale(0);

            .item {
                display: block;
                width: 100%;
                text-align: center;
                padding: 7px;
                text-decoration: none;

                &:hover {
                    background-color: #efefef;
                }
            }

            .header {
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px;
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
}

.breadcrumbs {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 20px;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        text-transform: lowercase;

        &::before {
            content: '/';
            margin: 0 10px;
            color: $accent;
        }

        &:nth-child(1) {
            &::before {
                display: none;
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: $backgroundDark;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 350ms;
    transform: translateX(100%);
    z-index: 400;

    &.open {
        transform: translateX(0);
    }

    h1,
    h3,
    a {
        color: #ffffff;
    }

    .nav {
        padding: 20px 0;
        a {
            display: block;
            padding: 15px;
            text-align: center;

            &:hover {
                background-color: #eeeeee;
                color: $backgroundDark;
            }
        }
    }
}

.sidebar-btn {
    position: fixed;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 350ms;
    top: 20px;
    right: 0;
    width: 50px;
    height: 40px;
    color: #ffffff;
    background-color: transparentize($backgroundDark, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform-origin: center center;
    z-index: 400;

    &.open {
        right: 300px;
        transform: rotate(180deg);
    }

    &:hover {
        background-color: $backgroundDark;
    }
}
